<p id="alert"><%= alert %></p>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Edit Profile </h2>
    <% if @current_register %> 
        <!-- Icon -->
        <div class="fadeIn first">
          <%= image_tag current_register.image_url.to_s,:id=>"icon2" %>
        </div>
    
        <%= form_for @register do |f| %>
          <% if @register.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:" %>
              </h2>
              <ul>
                <% @register.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class=" fadeIn second field">
              <%= f.text_field :username, required: true, placeholder: "Username" %>
          </div>
          <div class=" fadeIn third field">
              <%= f.text_field :email, required: true, placeholder: "E-mail" %>
          </div>
          <div class=" fadeIn third field">
              <%= f.password_field :password, required: true, placeholder: "Password" %>
          </div>
          <div class=" fadeIn third field">
              <%= f.password_field :password_confirmation, required: true, placeholder: "Password confirmation" %>
          </div>
          <div class=" fadeIn third field">
              <%= f.text_field :phone, autofocus: true, required: true, placeholder: "Phone" %>
          </div>
          <div class="fadeIn third field"style="margin-left:30px;padding-right:20px">
              <%= f.file_field :image %>
          </div>
          <br>
          <table width=100%>
              <tr>
                  <th><div class="actions" style="text-align:center"><%= submit_tag "SAVE",:class =>"fadeIn fourth" %> </div></th>
              </tr>
              <tr>
                  <th><div class="fadeIn fourth" style="text-align:center;font-family: 'Quicksand', sans-serif, sans-serif;font-size: 28px;"><%= link_to "cencel", account_path %> </div></th>
              </tr>
            
          </table>
          <% end %>
    <% end %>
  </div>
</div>