
   <p class="lead"><%= comment.body %></p>
   <p><small>Submitted <strong></strong> by <%= comment.register.username %></small></p>

   <% if comment.register == current_register %>
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
    <% end %>
