<html>
  <head>
    <title>I'm in</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <% @events.each do |event| %>
        <div class="link row clearfix font">
          <table>
              <tr >
                <th><h2 id="h5"><%= link_to event.title, event %>&nbsp&nbsp&nbsp&nbsp<p id="h4"># <%= event.category %> </p></h2></th><br>
              </tr>
              
              <tr>
                <th><h3><small class="author">&nbsp&nbspSubmitted &nbsp<%= time_ago_in_words(event.created_at) %>&nbsp by <%= event.register.username %> &nbsp</small></h3></th>
              </tr>
          </table>
        </div>
    <% end %>
  </body>
</html>
