<!DOCTYPE html>
<html>
<head>
  <title>imin</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="box">
            <p id="notice">
              <%= notice %>
            </p>
           <span>
              <p class="th1" style="font-size:20px;font-weight:60;color:#3b15d4">
              <%= @event.title %></p>
              <p class="th1"  style="font-size:20px;font-weight:60;color:#3b15d4">#<%= @event.category %></p>
           </span>
            <p class="th1">
              <div id="box2">
                <span><%= @event.description %></span>
              </div>
            </p>
              <table width=100%>
                  <tr class="th1">
                      <th>
                          <p >&nbsp&nbsp&nbsp&nbsp</p>
                      </th>
                     <th>
                          <p >&nbsp&nbsp&nbsp&nbsp</p>
                      </th>
                </tr>
                <tr class="th1">
                  <th>
                      <p class="th2"style="font-size:16px;font-weight:100;"><b>By&nbsp&nbsp&nbsp&nbsp</b><%= @event.register.username %></p>
                  </th>
                  <th>
                      <p  class="th2"style="font-size:16px;font-weight:100;"><b>Phone&nbsp&nbsp&nbsp&nbsp</b><%= @event.phone %> </p>
                  </th>
                </tr>
                <tr class="th2">
                  <th>
                      <p  class="th2"style="font-size:16px;font-weight:100;"><b>Start&nbsp&nbsp&nbsp&nbsp</b><%= @event.start %> </p>
                  </th>
                  <th>
                      <p  class="th2"style="font-size:16px;font-weight:100;"><b>End&nbsp&nbsp&nbsp&nbsp</b><%= @event.end %> </p>
                  </th>
                </tr>
              <h2>
               
                
                <tr class="th2">
                  <th>
                      <p>&nbsp</p>
                  </th>
                 <% if  %>
                       <th style="text-align:right">
                                <%= link_to vote_event_path(@event), method: :post do %>
                                  <button>Upvote</button>
                                  <%= @event.get_upvotes.size %>
                                  <% end %>
                                <%= link_to downvote_event_path(@event), method: :post do %>
                                  <button>Downvote</button>
                                  <%= @event.get_downvotes.size   %>
                                  <% end %>&nbsp&nbsp&nbsp
                                <% if @event.register == current_register %> 
                                  <%= link_to 'Edit', edit_event_path(@event) %>&nbsp&nbsp&nbsp
                                  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                       </th>
                  <% else %>
                        <th>
                              <p>&nbsp</p>
                        </th>
                  <% end %>
                </tr>
                <br/>
              </table>
       </div>
       <div>
         <br><br>
       </div>
       <div class="box">
         <h3> <%= @event.comments.count %>  comments   </h3>
                <%= render :partial => @event.comments %>
                <%= simple_form_for [@event, Comment.new] do |f| %>
                  <table id="box3">
                      <%= f.text_area :body %>
                      <%= f.submit "Add comment" %>  
                  </table>
                  
                <% end %>
             
       </div>
</body>
</html>
