@import "bootstrap-sprockets";
@import "bootstrap";

#content1 {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 300%;
  max-width: 600px;
  max-height: 600px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.wrapper1 {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.box {
  background:#d9f3ff;
  box-sizing: content-box;  
  width: 90%;
  height: auto;
  padding: 30px;  
  border: 4px solid #233161;
}
#box2 {
  background:#f6f6f6;
  word-wrap: break-word;
  display: inline-block ;
  width: 100%;
  height: auto;
  padding: 30px;  
  border: 1px solid #dedede;
}
.th1{
  font-family: 'Quicksand', sans-serif, sans-serif;
  font-weight:normal;
  text-align:center;
  color:black;
}
.th2{
  font-family: 'Quicksand', sans-serif, sans-serif;
  font-weight:normal;
  color:black;
}
.box3 {
  background:#f6f6f6;
  word-wrap: break-word;
  display: inline-block ;
  width: 100%;
  height: auto;
  padding: 30px;  
  border: 1px solid #dedede;
}
textarea{
  width:100%;
  height:auto;
  background-color:#f6f6f6;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
