.wrapper.fadeInDown
  %p#alert= alert
  #formContent
    / Tabs Titles
    %h2.active REPORT USER
    = form_for @report do |f|
      - if @report.errors.any?
        #error_explanation
          %h2
            = "#{pluralize(@report.errors.count, "error")} prohibited this register from being saved:"
          %ul
            - @report.errors.full_messages.each do |message|
              %li
                = message
      .fadeIn.second.field
        = f.text_field :event, required: true, placeholder: "event"
      .fadeIn.third.field
        = f.text_field :report_to, required: true, placeholder: "report_to"
      .fadeIn.third.field
        = f.text_field :by, required: true, placeholder: "by"
      .fadeIn.third.field
        = f.text_area :desciption , maxlength: 500, size: 15,rows: 10, cols: 25, placeholder: "description",width:100
      %br/
      %table{width: "100%"}
        %tr
          %th
            .actions{style: "text-align:center"}
              = submit_tag "SAVE",:class =>"fadeIn fourth"
        %tr
          %th
            .fadeIn.fourth{style: "text-align:center;font-family: 'Quicksand', sans-serif, sans-serif;font-size: 28px;"}
              = link_to "cencel", root_path