%p#notice= notice

%p
  %b Event:
  = @report.event
%p
  %b report_to:
  = @report.report_to
%p
  %b by:
  = @report.by
%p
  %b Desciption:
  = @report.desciption

= link_to 'Edit', edit_report_path(@report)
= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' }
/*= link_to 'Back', reports_path*/

= link_to 'Back', root_path